<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
        .err {
            color: red;
        }

        .mm {
            color: green;
        }

        .sform {
            background-color: aqua;

        }

        .stable {
            background-color: aquamarine;

        }


    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="custom-content">

<div class="sform" align="center">

    <h1>Role ADD Form</h1>
    <span th:class="mm" th:text="${success}"></span>
    <span th:class="err" th:text="${exist}"></span>
    <br/>

<form th:object="${role}" th:action="@{/role/addrole}" th:method="POST">
    <table class="stable">
        <tr>
            <td>RoleName:</td>
            <td><input type="text" th:field="*{rolename}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('rolename')}" th:errors="*{rolename}"></td>

        </tr>


        <tr>
            <td></td>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>

    </table>

</form>
</div>
</div>
</body>
</html>