<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
    <title>Home | Mahbub</title>
	
	
	
	
  </head>
  
  <body>
  
  <nav class="navbar navbar-expand-lg navbar-light fiexed-top">
 <div class="container">
 <a class="navbar-brand" href="#">Mahbub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      
	  <div class="dropdown">
			<a class="btn btn-secondary" href="#">Home <span class="sr-only">(current)</span></a>
	  </div>
	  
	  <div class="dropdown">
			<a class="btn btn-secondary" href="#">About</a>
	  </div>
      
	  <div class="dropdown">
			<a class="btn btn-secondary" href="#">Service</a>
	  </div>
	  
	  
	  <div class="dropdown">
			<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuTable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Tables
			</a>

			<div class="dropdown-menu" aria-labelledby="dropdownMenuTable">
			<a class="dropdown-item" href="#">Table 1</a>
			<a class="dropdown-item" href="#">Table 2</a>
			<a class="dropdown-item" href="#">Table 3</a>
			</div>
	</div>
	  
	  
	  
	  <div class="dropdown">
			<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			User
			</a>

			<div class="dropdown-menu" aria-labelledby="dropdownMenuUser">
			<a class="dropdown-item" href="#">Add User</a>
			<a class="dropdown-item" href="#">Edit User</a>
			<a class="dropdown-item" href="#">User list</a>
			</div>
	</div>
	  
	<div class="dropdown">
			<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuRole" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Role
			</a>

			<div class="dropdown-menu" aria-labelledby="dropdownMenuRole">
			<a class="dropdown-item" href="#">Add Role</a>
			<a class="dropdown-item" href="#">Edit Role</a>
			<a class="dropdown-item" href="#">Role list</a>
			</div>
	</div>
	
	<div class="dropdown">
			<a class="btn btn-secondary" href="#">Contuct</a>
	  </div>
	  
      
    </ul>
	
	
    
  </div>
   </div>
</nav>

  
  
  
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/mahbub.jpg" class="d-block w-100" alt="First Slide">
	   <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Silhouette of a luxury car</p>
        </div>
    </div>
	
	
    <div class="carousel-item">
      <img src="images/mahbub1.jpg"  class="d-block w-100" alt="Second Slide">
	  <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Hi-res stock stock vector image. Discover the amazing world of our 50.000 photographers & graphic designers worldwide.</p>
        </div>
    </div>
	
	
    <div class="carousel-item">
      <img src="images/mahbub2.jpg" class="d-block w-100" alt="Third Slide">
	  <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>See the best 15 free high-resolution photos of within the void </p>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br><br><br>





<form>

<h1 align=center><b>Employee registration Form</b></h1><br><br>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Dhaka, Dhanmondi-1205">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
	  
	  
	  
	  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Check me out
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </body>
</html>