<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout3.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">


  <style>
    .err{
      color: red;
    }
    .mm{
      color: green;
    }
    .sform{
      background-color: aqua;
    }
  </style>
</head>

<body>
<div layout:fragment="custom-content">

<div id="login-page">
  <div class="container">



    <form class="form-login" th:object="${user}" th:action="@{/sign-up}"  th:method="POST">
      <h2 class="form-login-heading">sign up now</h2>

      <div class="login-wrap">
        <span th:class="mm" th:text="${successMsg}"></span>
        <span th:class="err" th:text="${rejectMsg}"></span>
        <br>
        Full Name: <input type="text" class="form-control" placeholder="Full Name" autofocus th:field="*{name}" required="true">
        <br>
        Email: <input type="email" class="form-control" placeholder="Enter Your Email" th:field="*{email}" required="true">
        <br>
        BirthDate<input type="date" class="form-control" th:field="*{birthDate}" required="true">
        <br>
        <label class="radio-inline">
          <input type="radio" name="gender" th:value="Male" th:field="*{gender}">Male
        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" th:value="Female" th:field="*{gender}">Female
        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" th:value="Others" th:field="*{gender}">Other
        </label>
        <br><br>

        <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SIGN UP</button>
        <hr>
        <div class="login-social-link centered">
          <p>or you can sign in via your social network</p>
          <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
          <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
        </div>
        <div class="registration">
          Complete Sign Up?<br/>
          <!--<button class="btn btn-theme btn-block" th:href="@{/login}" type="submit"><i class="fa fa-lock"></i> Back Login</button>-->
         <a th:href="@{/login}" class="btn btn-theme btn-block">Back Login</a>
        </div>
      </div>

    </form>
  </div>
</div>
<!-- js placed at the end of the document so the pages load faster -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="lib/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("img/login-bg4.jpeg", {
        speed: 500
    });
</script>
</div>
</body>

</html>
