<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header" style="font-size:15px; background-color:#1fb5ad" th:fragment="topsubnav">


        <ul class="nav pull-left top-menu">
            <br>
            <li><a style="font-size:12px;color:white;  background-color:seagreen" th:href="@{#}">MEDICINE</a></li>
            <li> <a style="font-size:12px;color:white;  background-color:seagreen" th:href="@{#}" >HEALTH &#038; PERSONAL CARE</a></li>
            <li> <a style="font-size:12px;color:white; background-color:seagreen" th:href="@{#}" >REQUEST PRODUCT</a></li>
            <li> <a style="font-size:12px;color:white; background-color:seagreen" th:href="@{#}" >ABOUT US</a></li>
            <li> <a style="font-size:12px;color:white; background-color:seagreen" th:href="@{#}" >FIND STORE</a></li>
        </ul>

</div>
</body>
</html>