<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header black-bg" th:fragment="topnav">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" style="font-size:27px;color:lightyellow"  data-placement="right" data-original-title="Quality Pharmacy Ltd"></div>

    </div>
    <!--logo start-->
    <a th:href="@{/}" class="logo"><b>Q<span>PHAR</span>MA</b></a>
    <!--logo end-->

    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li><a class="logout fa fa-sign-out" style="border-radius:99px; font-size:20px;color:red" th:href="@{/logout}">logout</a></li>
        </ul>
    </div>
    <!--<div class="top-menu">-->
        <!--<ul class="nav pull-right top-menu">-->
            <!--<li> <a class="logout" style="border-radius:99px; font-size:14px;color:red" th:href="@{/con}" >Contact us</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="top-menu">-->
        <!--<ul class="nav pull-right top-menu">-->
            <!--<li> <a class="logout fa fa-envelope"  style="border-radius:99px; font-size:20px;color:red" href="mailto:sakmahbub@gmail.com" ></a></li>-->
        <!--</ul>-->
    <!--</div>-->

    <!--<div class="top-menu">-->
        <!--<ul class="nav pull-right top-menu">-->
            <!--<li><a class="logout fa fa-map-marker" style="border-radius:99px; font-size:20px;color:red" href="https://www.google.com/maps/place/Lazz+Pharma/@23.7513897,90.3790431,16.75z/data=!4m5!3m4!1s0x3755b8adf5e8df15:0xed5e12def8a94f00!8m2!3d23.750837!4d90.3786853"></a></li>-->
        <!--</ul>-->
    <!--</div>-->

    <!--<div class="top-menu">-->
        <!--<ul class="nav pull-right top-menu">-->
            <!--<li> <a class="logout" style="border-radius:99px; font-size:14px;color:white; background-color: red" th:href="@{/order}" >Order Now</a></li>-->
        <!--</ul>-->
    <!--</div>-->







            <!--&lt;!&ndash;  notification start &ndash;&gt;-->
            <!--<ul class="nav top-menu">-->
                <!--&lt;!&ndash; settings start &ndash;&gt;-->
                <!--<li class="dropdown">-->
                    <!--<a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">-->
                        <!--<i class="fa fa-tasks"></i>-->
                        <!--<span class="badge bg-theme">4</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu extended tasks-bar">-->
                        <!--<div class="notify-arrow notify-arrow-green"></div>-->
                        <!--<li>-->
                            <!--<p class="green">You have 4 pending tasks</p>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">-->
                                <!--<div class="task-info">-->
                                    <!--<div class="desc">Dashio Admin Panel</div>-->
                                    <!--<div class="percent">40%</div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-striped">-->
                                    <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">-->
                                        <!--<span class="sr-only">40% Complete (success)</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">-->
                                <!--<div class="task-info">-->
                                    <!--<div class="desc">Database Update</div>-->
                                    <!--<div class="percent">60%</div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-striped">-->
                                    <!--<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">-->
                                        <!--<span class="sr-only">60% Complete (warning)</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">-->
                                <!--<div class="task-info">-->
                                    <!--<div class="desc">Product Development</div>-->
                                    <!--<div class="percent">80%</div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-striped">-->
                                    <!--<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">-->
                                        <!--<span class="sr-only">80% Complete</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">-->
                                <!--<div class="task-info">-->
                                    <!--<div class="desc">Payments Sent</div>-->
                                    <!--<div class="percent">70%</div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-striped">-->
                                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">-->
                                        <!--<span class="sr-only">70% Complete (Important)</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="external">-->
                            <!--<a href="#">See All Tasks</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--&lt;!&ndash; settings end &ndash;&gt;-->
                <!--&lt;!&ndash; inbox dropdown start&ndash;&gt;-->
                <!--<li id="header_inbox_bar" class="dropdown">-->
                    <!--<a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">-->
                        <!--<i class="fa fa-envelope-o"></i>-->
                        <!--<span class="badge bg-theme">5</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu extended inbox">-->
                        <!--<div class="notify-arrow notify-arrow-green"></div>-->
                        <!--<li>-->
                            <!--<p class="green">You have 5 new messages</p>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">-->
                                <!--<span class="photo"><img alt="avatar" src="img/ui-zac.jpg"></span>-->
                                <!--<span class="subject">-->
                  <!--<span class="from">Zac Snider</span>-->
                  <!--<span class="time">Just now</span>-->
                  <!--</span>-->
                                <!--<span class="message">-->
                  <!--Hi mate, how is everything?-->
                  <!--</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">-->
                                <!--<span class="photo"><img alt="avatar" src="img/ui-divya.jpg"></span>-->
                                <!--<span class="subject">-->
                  <!--<span class="from">Divya Manian</span>-->
                  <!--<span class="time">40 mins.</span>-->
                  <!--</span>-->
                                <!--<span class="message">-->
                  <!--Hi, I need your help with this.-->
                  <!--</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">-->
                                <!--<span class="photo"><img alt="avatar" src="img/ui-danro.jpg"></span>-->
                                <!--<span class="subject">-->
                  <!--<span class="from">Dan Rogers</span>-->
                  <!--<span class="time">2 hrs.</span>-->
                  <!--</span>-->
                                <!--<span class="message">-->
                  <!--Love your new Dashboard.-->
                  <!--</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">-->
                                <!--<span class="photo"><img alt="avatar" src="img/ui-sherman.jpg"></span>-->
                                <!--<span class="subject">-->
                  <!--<span class="from">Dj Sherman</span>-->
                  <!--<span class="time">4 hrs.</span>-->
                  <!--</span>-->
                                <!--<span class="message">-->
                  <!--Please, answer asap.-->
                  <!--</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">See all messages</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--&lt;!&ndash; inbox dropdown end &ndash;&gt;-->
                <!--&lt;!&ndash; notification dropdown start&ndash;&gt;-->
                <!--<li id="header_notification_bar" class="dropdown">-->
                    <!--<a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">-->
                        <!--<i class="fa fa-bell-o"></i>-->
                        <!--<span class="badge bg-warning">7</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu extended notification">-->
                        <!--<div class="notify-arrow notify-arrow-yellow"></div>-->
                        <!--<li>-->
                            <!--<p class="yellow">You have 7 new notifications</p>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">-->
                                <!--<span class="label label-danger"><i class="fa fa-bolt"></i></span>-->
                                <!--Server Overloaded.-->
                                <!--<span class="small italic">4 mins.</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">-->
                                <!--<span class="label label-warning"><i class="fa fa-bell"></i></span>-->
                                <!--Memory #2 Not Responding.-->
                                <!--<span class="small italic">30 mins.</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">-->
                                <!--<span class="label label-danger"><i class="fa fa-bolt"></i></span>-->
                                <!--Disk Space Reached 85%.-->
                                <!--<span class="small italic">2 hrs.</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">-->
                                <!--<span class="label label-success"><i class="fa fa-plus"></i></span>-->
                                <!--New User Registered.-->
                                <!--<span class="small italic">3 hrs.</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="index.html#">See all notifications</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--&lt;!&ndash; notification dropdown end &ndash;&gt;-->
            <!--</ul>-->
            <!--  notification end -->



        <!--<ul class="nav top-menu">-->

            <!--<li>-->
                <!--<a th:href="@{/}" >Home</a>-->

            <!--</li>-->


            <!--<li class="dropdown">-->
                <!--<a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">User</a>-->
                <!--<ul class="dropdown-menu extended tasks-bar">-->
                    <!--<div class="notify-arrow notify-arrow-green"></div>-->
                    <!--<li>-->
                        <!--<p class="green">You can add, edit or remove user</p>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a th:href="@{/}">-->
                            <!--<div class="task-info">-->
                                <!--<div class="desc">Add User</div>-->

                            <!--</div>-->
                            <!--<div class="progress progress-striped">-->
                                <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div class="task-info">-->
                                <!--<div class="desc">User List</div>-->

                            <!--</div>-->
                            <!--<div class="progress progress-striped">-->
                                <!--<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div class="task-info">-->

                                <!--<div class="desc">Edit User</div>-->

                            <!--</div>-->
                            <!--<div class="progress progress-striped">-->
                                <!--<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div class="task-info">-->
                                <!--<div class="desc">Delete User</div>-->

                            <!--</div>-->
                            <!--<div class="progress progress-striped">-->
                                <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->

                <!--</ul>-->
            <!--</li>-->

            <!--&lt;!&ndash; ///////////////////////////////////////////////////&ndash;&gt;-->
            <!--<li class="dropdown">-->
                <!--<a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">Role</a>-->
                <!--<ul class="dropdown-menu extended tasks-bar">-->
                    <!--<div class="notify-arrow notify-arrow-green"></div>-->
                    <!--<li>-->
                        <!--<p class="green">You can add, edit or remove Role</p>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a th:href="@{/}">-->
                            <!--<div class="task-info">-->
                                <!--<div class="desc">Add Role</div>-->

                            <!--</div>-->
                            <!--<div class="progress progress-striped">-->
                                <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div class="task-info">-->
                                <!--<div class="desc">Role List</div>-->

                            <!--</div>-->
                            <!--<div class="progress progress-striped">-->
                                <!--<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div class="task-info">-->
                                <!--<div class="desc">Edit Role</div>-->

                            <!--</div>-->
                            <!--<div class="progress progress-striped">-->
                                <!--<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--<div class="task-info">-->
                                <!--<div class="desc">Delete Role</div>-->

                            <!--</div>-->
                            <!--<div class="progress progress-striped">-->
                                <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->

                <!--</ul>-->
            <!--</li>-->
<!--&lt;!&ndash; ///////////////////////////////////////////////////&ndash;&gt;-->
            <!--<li class="dropdown">-->
                <!--<a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">Report</a>-->
                <!--<ul class="dropdown-menu extended tasks-bar">-->
                    <!--<div class="notify-arrow notify-arrow-green"></div>-->
                    <!--<li>-->
                        <!--<p class="green">You can Choose any report</p>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a th:href="@{/}">-->
                            <!--<div class="task-info">-->
                                <!--<div class="desc">Monthly Report</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li>-->
                        <!--<a th:href="@{/}">-->
                            <!--<div class="task-info">-->
                                <!--<div class="desc">Weekly Report</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li>-->
                        <!--<a th:href="@{/}">-->
                            <!--<div class="task-info">-->
                                <!--<div class="desc">Today</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->


                    <!--<li>-->
                        <!--<a th:href="@{/}">-->
                            <!--<div class="task-info">-->
                                <!--<div class="desc">Any Day</div>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->



                <!--</ul>-->
            <!--</li>-->


            <!--<li>-->
                <!--<a th:href="@{/}" >Service</a>-->

            <!--</li>-->




            <!--&lt;!&ndash; notification dropdown end &ndash;&gt;-->
        <!--</ul>-->


</header>
<!--header end-->
</body>
</html>