<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header black-bg" th:fragment="topnavpublic">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" style="font-size:27px;color:lightyellow"  data-placement="right" data-original-title="Quality Pharmacy Ltd"></div>

    </div>
    <!--logo start-->
    <a th:href="@{/}" class="logo"><b>Q<span>PHAR</span>MA</b></a>
    <!--logo end-->


    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li><a class="logout fa fa-user" style="border-radius:99px; font-size:20px;color:red" th:href="@{/login}"></a></li>
        </ul>
    </div>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li> <a class="logout" style="border-radius:99px; font-size:14px;color:red" th:href="@{/con/add}" >Contact us</a></li>
        </ul>
    </div>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li> <a class="logout fa fa-envelope"  style="border-radius:99px; font-size:20px;color:red" href="mailto:sakmahbub@gmail.com" ></a></li>
        </ul>
    </div>

    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li><a class="logout fa fa-map-marker" style="border-radius:99px; font-size:20px;color:red" th:href="@{/location}" ></a></li>
        </ul>
    </div>

    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li> <a class="logout" style="border-radius:99px; font-size:14px;color:white; background-color: red" th:href="@{/order}" >Order Now</a></li>
        </ul>
    </div>
</header>
<!--header end-->
</body>
</html>