<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand justify-content-between fixed-top" th:fragment="topnavbar">
    <a class="navbar-brand mb-0 h1 d-none d-md-block" th:href="@{/}">
        <img th:src="@{/./demo/img/logoo.png}" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
        HAMS
    </a>

    <ul class="navbar-nav d-flex justify-content-end mr-2">
        <li class="nav-item dropdown">
            <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">
                <img th:src="@{/./demo/img/avatar.png}" class="d-inline-block align-top" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" href="#">My Tasks</a>
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" th:href="@{/logout}">Sign out</a>
            </div>
        </li>
    </ul>
</nav>
</body>
</html>