<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .mm{

            color: green;
        }
.err{
    color: red;
}
    </style>
    <meta charset="UTF-8">
    <title>Add| Mahbub</title>
</head>
<body>
<h1>Student Regestration Form</h1>
<a th:href="@{/}">Home Page</a>
<span th:class="mm" th:text="${text}"></span>
<form action="#" th:object="${student}" th:action="@{/add}" th:method="POST">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>


        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{age}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
        </tr>


        <tr>
            <td>Email:</td>
            <td><input type="email" th:field="*{email}"/></td>
            <td th:class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>


        <tr>
            <td></td>
            <td><button type="submit">Save</button></td>
        </tr>
    </table>


</form>
</body>
</html>