<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .mm {

            color: green;
        }

        .err {
            color: red;
        }
    </style>
    <meta charset="UTF-8">
    <title>Home| Mahbub</title>
</head>
<body>

<h1>Student Data List</h1>

<a th:href="@{/add}">Add Student</a>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr th:each="s : ${list}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.name}"></td>
        <td th:text="${s.age}"></td>
        <td th:text="${s.email}"></td>
        <td> <a th:href="@{'/edit/'+ ${s.id}}">Edit</a></td>
        <td> <a th:href="@{'/del/'+ ${s.id}}">Del</a></td>
    </tr>


</table>
</body>
</html>