<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HAMS Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" th:href="@{/../dist/css/adminx.css}" media="screen"/>
</head>
<body>
<div class="adminx-container d-flex justify-content-center align-items-center" th:method="POST">
    <div class="page-login">
        <div class="text-center">
            <a class="navbar-brand mb-4 h1" th:href="@{login}">
                <img th:src="@{../demo/img/logoo.png}" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
                <b>Sign up HAMS</b>
            </a>
        </div>

        <div class="card mb-0">
            <div class="card-body" align="center">
                <span th:class="succes" th:text="${successMsg}"></span>
                <span th:class="err" th:text="${rejectMsg}"></span>
            </div>
            <div class="card-seperator">

        </div>
            <div class="card-body">
                <form th:object="${user}" th:action="@{/sign-up}" th:method="POST">
                    <div class="form-group">
                        <label for="firstname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstname"
                               placeholder="First Name" th:field="*{firstName}" required="true">
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName"
                               placeholder="Last Name"  th:field="*{lastName}"required="true">
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1"
                               placeholder="email@example.com" th:field="*{email}" required="true">
                    </div>
                    <div class="form-group">
                        <label for="date" class="form-label">Birth Date</label>
                        <input type="date" class="form-control" id="date"
                               placeholder="Birth Date" th:field="*{birthDate}" required="true">
                        <!-- <input type="date" th:text="${#dates.format(user.birthDate, 'yyyy-MM-dd')}" th:field="*{birthDate}"
                                class="form-control" placeholder="Enter Birth Date">-->
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-legend col-sm-3 form-label">Gender</legend>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="gender" th:field="*{gender}" id="Male"
                                               value="Male" checked> Male &nbsp&nbsp&nbsp&nbsp
                                        <input class="form-check-input" type="radio" name="gender" th:field="*{gender}" id="Female"
                                               value="Female"> Female
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <button type="submit" class="btn btn-sm btn-block btn-primary">Sign Up</button>
                </form>
            </div>
            <div>
                <div class="card-footer text-center">
                    <a th:href="@{login}">
                        <small>Already have an  account login here</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- If you prefer jQuery these are the required scripts -->
<script th:src="@{/https://code.jquery.com/jquery-3.2.1.min.js}"></script>
<script th:src="@{/https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js}"></script>
<script th:src="@{/https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}"></script>
<script th:src="@{/../dist/js/vendor.js}"></script>
<script th:src="@{/../dist/js/adminx.js}"></script>

<!-- If you prefer vanilla JS these are the only required scripts -->
<!-- script src="../dist/js/vendor.js"></script>
<script src="../dist/js/adminx.vanilla.js"></script-->
</body>
</html>