<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
        }

        .err{
            color: red;
        }
        .mm{
            color: green;
        }
        .sform{
            background-color: aqua;
        }
    </style>
    <script src="${pageContext.request.contextPath }/resources/js/jquery-ui-1.8.2.custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#drugName').autocomplete({
                source : '${pageContext.request.contextPath }/sales/search'
            });
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $(".drug_name").autocomplete({
                source: "drugAutocomplete",
                minLength: 3
            });
        });
    </script>
</head>
<body>
<div layout:fragment="custom-content">

<div class="container-fluid">
    <h2>Sales Drug</h2>

    <div class="row">
        <div class="col-10 bg-success">
            <form action="#" th:action="@{/sales/add}" th:object="${form}"
                  method="post">

                <span th:class="err" th:text="${rejectMsg}"></span>
                <span th:class="mm" th:text="${success}"></span>

                <INPUT type="button" value="Delete Row" onclick="deleteRow('dataTable')"/>
                <TABLE id="dataTable" width="350px" border="1">
                    <tr>
                        <th> <input onClick="checkAll(this);" type="checkbox" /></th>
                        <th>S.L</th>
                        <th>Drug Name</th>
                        <th>Qty</th>
                        <th>UnitPrice</th>
                        <th>TotalPrice</th>
                    </tr>
                    <TR th:each="sal, itemStat : *{saless}">
                        <TD id="all"><INPUT type="checkbox" name="chk"/>   </TD>
                        <TD> 1</TD>

                        <TD><INPUT type="text" th:field="*{saless[__${itemStat.index}__].drugName}" oninput="callSearchUrl(this)" name="term"/></TD>
                        <TD><INPUT type="text" th:field="*{saless[__${itemStat.index}__].qty}" id="text7" value="20" oninput="callToatl()"/></TD>
                        <TD><INPUT type="text" th:field="*{saless[__${itemStat.index}__].unitPrice}" id="text8" oninput="callToatl()" value="2"/></TD>
                        <TD><INPUT type="text" th:field="*{saless[__${itemStat.index}__].totalPrice}" id="text99" /></TD>

                    </TR>
                </TABLE>
                <hr/>
                <input type="submit" id="submitButton" th:value="Save">
                <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
            </form>
        </div>
        <div class="col-2 bg-warning">

            <INPUT style="position: absolute; bottom: 0" type="button" value="Add Row" onclick="addRow('dataTable')" />
        </div>


    </div>
</div>

<script language="javascript">
    function addRow(tableID) {


        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);

        var cell1 = row.insertCell(0);
        var element1 = document.createElement("input");
        element1.type = "checkbox";
        element1.name = "chkbox[]";
        cell1.appendChild(element1);

        var cell2 = row.insertCell(1);
        cell2.innerHTML = rowCount + 1;
        var rowIndex = table.rows.length ;
        rowIndex-=2;
        var cell3 = row.insertCell(2);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.name = "saless["+rowIndex+"].drugName";
        cell3.appendChild(element2);

        var cell4 = row.insertCell(3);
        var element3 = document.createElement("input");
        element3.type = "text";
        element3.name = "saless["+rowIndex+"].qty";
        cell4.appendChild(element3);


        var cell5 = row.insertCell(4);
        var element4 = document.createElement("input");
        element4.type = "text";
        element4.name = "saless["+rowIndex+"].unitPrice";
        cell5.appendChild(element4);

        var cell6 = row.insertCell(5);
        var element5 = document.createElement("input");
        element5.type = "text" ;
        element5.name = "saless["+rowIndex+"].totalPrice";
        cell6.appendChild(element5);
        callurl();
    }

    function deleteRow(tableID) {
        try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;

            for (var i = 0; i < rowCount; i++) {
                var row = table.rows[i];
                var chkbox = row.cells[0].childNodes[0];
                if (null != chkbox && true == chkbox.checked) {
                    table.deleteRow(i);
                    rowCount--;
                    i--;
                    console.log("row no: "+row+" chkbox: "+chkbox);
                    callDelurl(i);
                }


            }
        } catch (e) {
            alert(e);
        }
    }



    ///////////////////
    function callurl() {
        var xhttp;

        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);

            }
        };
        xhttp.open("GET", "/create", true);
        xhttp.send();
    }
    function callDelurl(index) {
        var xhttp;

        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);

            }
        };
        xhttp.open("GET", "/del", true);
        xhttp.send();
    }

    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }


    function callSearchUrl(drugName) {
        var xhttp;

        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);

            }
        };
        xhttp.open("GET", "/searchdrug", true);
        xhttp.send();
    }
</script>

    <script>
        function callToatl() {
            document.getElementById("text99").value = document.getElementById("text7").value * document.getElementById("text8").value;
        }
    </script>
</div>
</body>
</html>