<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="custom-content">
    <h3><i class="fa fa-book"></i> Purchase list</h3>
    <div class="row mb">
        <!-- page start-->
        <div class="content-panel">
            <div class="adv-table">
                <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered"
                       id="hidden-table-info">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Drug_Name</th>
                        <th>Quantity</th>
                        <th>Unit_Price</th>
                        <th>Total_Price</th>
                        <th>Purchase_Date</th>
                        <th>Action</th>
                    </tr>

                    </thead>
                    <tbody>

                    <tr class="gradeA" th:each="p : ${purchaselist}">
                        <td th:text="${p.id}"></td>

                        <!--<td> <span th:each="d : ${p.drug}">-->
                        <!--<span th:text="${d.drugName}"></span>-->
                        <!--</span> </td>-->

                        <td th:text="${p.drug.drugName}"></td>

                        <td th:text="${p.qty}"></td>
                        <td th:text="${p.unitPrice}"></td>
                        <td th:text="${p.totalPrice}"></td>
                        <td th:text="${p.purchasedate}"></td>


                        <td class="center">
                            <a th:href="@{'/pur/del/' + ${p.id}}"><button type="button" class="btn btn-round btn-danger fa fa-times"></button></a>
                        </td>


                    </tr>


                    </tbody>
                </table>

            </div>
        </div>
        <!-- page end-->
    </div>
    <!-- /row -->


</div>
</body>
</html>