<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <style>
            .err{
                color: red;
            }
            .mm{
                color: green;
            }
        .sform{
            background-color: aqua;


        }




    </style>

    <meta charset="UTF-8">
    <title> Add | Mahbub</title>
</head>
<body>
<div layout:fragment="custom-content">

    <h3><i class="fa fa-book"></i> Drug Purchase</h3>

    <!-- BASIC FORM VALIDATION -->
    <div class="row mt">
        <div class="col-lg-12">

            <div class="form-panel">

                <form role="form" class="form-horizontal style-form" th:object="${purchase}" th:action="@{/pur/add}"  th:method="POST">
                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">DrugName</label>
                        <div class="col-lg-10">
                            <select th:field="*{drug}" id="f-dname" class="form-control">
                                <option th:each="d : ${druglist}" th:value="${d.id}"><span th:text="${d.drugName}"></span></option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">Quantity</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="0" class="form-control"
                                   th:field="*{qty}" required="true" id="text7" value="20" oninput="callToatl()">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">UnitPrice</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="0.0" class="form-control"
                                   th:field="*{unitPrice}" required="true" id="text8" oninput="callToatl()" value="2">
                        </div>
                    </div>


                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">TotalPrice</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="0.0"  class="form-control"
                                   th:field="*{totalPrice}" required="true" id="text99" >
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-theme" type="submit">Submit</button>
                            <button class="btn btn-theme" type="reset">Reset</button>
                        </div>


                    </div>
                </form>
            </div>
            <!-- /form-panel -->
        </div>
        <!-- /col-lg-12 -->
    </div>


    <script>
        function callToatl() {
            document.getElementById("text99").value = document.getElementById("text7").value * document.getElementById("text8").value;
        }
    </script>
</div>

</body>
</html>