<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="a1" class="com.mahbub.dixmlsetter.entity.Student">
        <property name="id" value="10"/>
        <property name="userName" value="sakmahbub"/>
        <property name="password" value="1234"/>
    </bean>

</beans>