<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <style>
        .err{
            color: red;
        }
        .mm{
            color: green;
        }
        .sform{
            background-color: aqua;


        }




    </style>

    <meta charset="UTF-8">
    <title> Add | Mahbub</title>
</head>
<body>
<div layout:fragment="custom-content">

    <h3><i class="fa fa-user"></i> Edit User</h3>

    <!-- BASIC FORM VALIDATION -->
    <div class="row mt">
        <div class="col-lg-12">

            <div class="form-panel">

                <form role="form" class="form-horizontal style-form"  th:object="${user}" th:action="@{/user/edit/} + ${id}"  th:method="POST" enctype="multipart/form-data">


                    <div class="form-group has-success">

                        <div class="col-lg-12">
                            <input type="hidden" th:field="*{id}" th:value="${user.id}">
                            <input type="hidden" th:field="*{regiDate}" th:value="${user.regiDate}">
                            <input type="hidden" th:field="*{password}" th:value="${user.password}">
                            <input type="hidden" th:field="*{enabled}" th:value="${user.enabled}">
                            <input type="hidden" th:field="*{confirmationToken}" th:value="${user.confirmationToken}">

                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">Roles</label>
                        <div class="col-lg-10">
                            <span th:class="mm" th:text="${success}"></span>
                            <select th:field="*{roles}" multiple id="f-rname" class="form-control">
                                <option th:each="role : ${rolelistAdd}" th:value="${role.id}"><span th:text="${role.rolename}"></span></option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="Enter Name" id="f-name" class="form-control"
                                   th:field="*{name}" required="true">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" placeholder="Enter Valid Email" id="f-email" class="form-control"
                                   th:field="*{email}" required="true">
                        </div>
                    </div>


                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">UserName</label>
                        <div class="col-lg-10">
                            <input type="text" placeholder="Enter unique UserName" id="f-username" class="form-control"
                                   th:field="*{userName}" required="true">
                        </div>
                    </div>


                    <!--<div class="form-group has-success">-->
                        <!--<label class="col-lg-2 control-label">Password</label>-->
                        <!--<div class="col-lg-10">-->
                            <!--<input type="password" placeholder="Enter Password" id="f-password" class="form-control"-->
                                   <!--th:field="*{password}" required="true">-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">Birth Date</label>
                        <div class="col-lg-10">
                            <input type="date" placeholder="Enter Password" id="f-birth" class="form-control"
                                   th:field="*{birthDate}" required="true">
                        </div>
                    </div>

                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">Gender</label>
                        <div class="col-lg-10">
                            <input type="radio" name="gender" th:value="Male" th:field="*{gender}" > Male
                            <input type="radio" name="gender" th:value="Female" th:field="*{gender}"> Female
                            <input type="radio" name="gender" th:value="Others" th:field="*{gender}"> Other

                        </div>
                    </div>


                    <div class="form-group has-success">
                        <label class="col-lg-2 control-label">Photo</label>
                        <div class="col-lg-10">
                            <input type="file" name="file">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-theme" type="submit">Submit</button>
                            <button class="btn btn-theme" type="reset">Reset</button>
                        </div>


                    </div>
                </form>
            </div>
            <!-- /form-panel -->
        </div>
        <!-- /col-lg-12 -->
    </div>



</div>
</body>
</html>