<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout2.html}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="custom-content">
    <h3><i class="fa fa-user"></i> User list</h3>
    <div class="row mb">
        <!-- page start-->
        <div class="content-panel">
            <div class="adv-table">
                <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
           <thead>
               <tr>
                   <th>ID</th>
                   <th>Name</th>
                   <th>Email</th>
                   <th>User_Name</th>
                  <th>Role_Name</th>
                   <th>Action</th>
               </tr>
           </thead>

            <tbody>

               <tr class="gradeA" th:each="u : ${userlist}">
                   <td th:text="${u.id}"></td>
                   <td th:text="${u.name}"></td>
                   <td th:text="${u.email}"></td>
                   <td th:text="${u.userName}"></td>
                   <td>
                       <span th:each="r : ${u.roles}">
                           <span th:text="${r.rolename}"></span>
                       </span>

                   </td>

                   <td class="center"><a th:href="@{'/user/edit/' + ${u.id}}"><button type="button" class="btn btn-round btn-success fa fa-edit"></button></a>
                       <a th:href="@{'/user/del/' + ${u.id}}"> <button type="button" class="btn btn-round btn-danger fa fa-times"></button></a>
                   </td>
               </tr>

            </tbody>
           </table>

            </div>
        </div>
        <!-- page end-->
    </div>
    <!-- /row -->



</div>
</body>
</html>